.post {
  
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-actions button {
  background: none;
  border: none;
  color: #ff4d6d;
  cursor: pointer;
  font-size: 14px;
}
